/* Google fonts import - poppins */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: black;
  color: white;
  font-family: 'Poppins', sans-serif;
}

nav li {
  font-size: 120%;
  padding-right: 10px;
}

.navbar-nav {
  margin-left: auto;
}


.navbar-nav .nav-item .nav-link:hover {
  font-style: oblique;
  color: red;

}
#django_messages-container {
  position: fixed;
 margin: auto;
 text-align: center;
padding-left: 10%;
padding-right: 10%;
}


#main-sultan-background {
  min-height: 45vh;
  padding-top: 5%;

  background-color: grey;
  background: url("/static/images/main-index-bg.webp")90%/cover no-repeat;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  text-align: center;
}

#additional-info {
  margin-top: 15px;
  padding-bottom: 10px;
  color: black;
  text-align: center;
  font-size: 1.4rem;
}

#follow-on-menu,
#follow-on-booking {
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px;

}

#follow-on-menu a:link,
#follow-on-booking a:link {
  text-decoration: none;
}

#follow-on-menu,
#follow-on-booking a a:active,
a:visited {
  color: white;
}


#follow-on-booking a:hover,
#follow-on-menu a:hover {
  font-style: oblique;
  color: red;
}

#current-promotions {
  padding-top: 2%;
  background-color: black;

  color: white;
}

#follow-on-links {
  padding-top: 2%;
  background-color: black;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
}


#contact-info {
  padding-top: 2%;
  background-color: black;
  color: white;
  padding-bottom: 10px;
}



/*menu and about page styling */

#menu-bg,
#about-bg {
  min-height: 75vh;
  margin-left: 10%;
  padding-top: 2%;
  ;
}

#main-menu-bg,
#main-about-bg {
  min-height: 70vh;
  padding-right: 15%;
  background-color: slategray;  
  background-attachment: fixed;
}
#main-menu-bg {
  background: url("/static/images/menu-bg.webp")90%/cover no-repeat;

}
#main-about-bg {
  background: url("/static/images/main-index-bg.webp")90%/cover no-repeat;

}


#about-us-content {   
 
  color: white;
  font-size: 130%;
  line-height: 1.7;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  border-bottom-left-radius: 25px;
  text-align: left;
  
}

.menu-item-name {
  font-size: 130%;
}

#allergy-info {
  padding: 10px;
  text-align: center;
  margin-left: auto;

  border-top: 1px solid white;
  border-bottom: 1px solid white;

}

.accordion {
  opacity: 0.8;
}

.accordian-menu-title {
  margin-left: auto;
  font-size: 130%;
  font-weight: bolder;
  padding-top: 10px;
}

.accordion-item {
  padding-bottom: 10px;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.accordion-flush .accordion-item .accordion-button {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


.accordion-body {
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 10px;
}

.accordion-item {
  background-color: transparent;
}

.accordion-button {
  background-color: black;
  color: white;
  border: 2px white solid;
  padding: 10px;
}

.accordion-button:not(.collapsed) {

  background-color: darkgray;
  color: black;
  border: 2px white solid;
}

.accordion-button::after {
  background-image: url(/static/icons/down-arrow.svg);
  background-size: 2rem;
  width: 2rem;
  height: 2rem;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(/static/icons/down-arrow.svg);
}

/* booking page styling*/
#booking-bg {
  padding-top: 50px;

  background-color: #808080;
  min-height: 70vh;


}

#booking-container-bg,
#update-container-bg {
  background-color: black;
  padding: 10px;
  border-radius: 25px;


}

/*footer styling*/
footer {
  margin-top: 0;
  font-size: 60%;

}