{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- index.html content starts here -->
<div class="container-fluid">
  <div id="main-sultan-background">
    <h1>Welcome to sultan's</h1>
    <h2>where desire meets elegance.</h2>
    {% if promotions_count > 0 %}
    <div id="current-promotions-live" class="col-sm-2 pt-3 mt-4">
      {% for promotion in promotions %}
      <p>{{promotion.description }}</p>
      {% endfor %}
    </div>
    {% else %}
    <div id="current-promotions-hidden">
    </div>
    {% endif %}
  </div>
  <div id="additional-info" class="container-fluid">

    <div class="row">
      <div id=current-promotions class="col-sm-4">
        <p>winner:</p>
        <p>opening of the year </p>
        <p>2025</p>
      </div>
      <div id="follow-on-links" class="col-sm-4">
        <p>intrigued?</p>
        <p id="follow-on-menu"><a class="text-white" href="{% url 'menu' %}">view menu</a></p>
        <p id="follow-on-booking"><a class="text-white" href="{% url 'create_booking' %}">book</a></p>
      </div>
      <div id="contact-info" class="col-sm-4">
        <p>hill-state farm</p>
        <P>preston, pr11 4wz</p>
        <P>t: 0161 123 2551 </p>
        <p><a class="text-white" href="mailto:info@sultans.co.uk">e:info@sultans.co.uk</a></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}