{% extends "base.html" %} {% load static %} {% block content %}

<div id="main-menu-bg">
  <div id="menu-bg" class="container">
    <h1>Our Menu</h1>
    <hr>
    <p class="text-center">Please select a heading below:</p>
    <div class="row">
      <div class="accordion accordion-menu accordion-flush accordion-menu-flush" id="menuaccordian">
        <div class="accordion-item accordion-menu-item">
          <h2 class="accordion-header" id="starter">
            <button class="accordion-button accordion-menu-button collapsed accordian-menu-title p-3" type="button" data-bs-toggle="collapse"
              data-bs-target="#starter-content" aria-expanded="false" aria-controls="starter-content">
              <span class="w-100 text-center">Starters</span>
            </button>
          </h2>
          <div id="starter-content" class="accordion-collapse collapse" aria-labelledby="starter"
            data-bs-parent="#menuaccordian">
            <div class="accordion-body accordion-menu-body bg-dark text-light">
              {% for item in menu %} {% if item.category == "Starter" %}
              <p class="menu-item-name"><b>{{item.name}}</b></p>
              <p><i> {{item.description}}... <b>£{{item.price}}</b></i></p>
              {% endif %} {% endfor %}
            </div>
          </div>
        </div>
        <div class="accordion-item accordion-menu-item">
          <h2 class="accordion-header" id="main">
            <button class="accordion-button accordion-menu-button collapsed text accordian-menu-title p-3" type="button" data-bs-toggle="collapse"
              data-bs-target="#main-content" aria-expanded="false" aria-controls="main-content">
              <span class="w-100 text-center">Mains</span>  
            </button>
          </h2>
          <div id="main-content" class="accordion-collapse collapse" aria-labelledby="main"
            data-bs-parent="#menuaccordian">
            <div class="accordion-body accordion-menu-body bg-dark text-light">
              {% for item in menu %} {% if item.category == "Main" %}
              <p class="menu-item-name"><b>{{item.name}}</b></p>
              <p><i> {{item.description}}... <b>£{{item.price}}</b></i></p>
              {% endif %} {% endfor %}
            </div>
          </div>
        </div>

        <div class="accordion-item accordion-menu-item">
          <h2 class="accordion-header" id="side">
            <button class="accordion-button accordion-menu-button collapsed accordian-menu-title p-3" type="button" data-bs-toggle="collapse"
              data-bs-target="#side-content" aria-expanded="false" aria-controls="side-content">
              <span class="w-100 text-center">Sides</span>
            </button>
          </h2>
          <div id="side-content" class="accordion-collapse collapse" aria-labelledby="side"
            data-bs-parent="#menuaccordian">
            <div class="accordion-body accordion-menu-body bg-dark text-light">
              {% for item in menu %} {% if item.category == "Side" %}
              <p class="menu-item-name"><b>{{item.name}}</b></p>
              <p><i> {{item.description}}... <b>£{{item.price}}</b></i></p>
              {% endif %} {% endfor %}
            </div>
          </div>
        </div>

        <div class="accordion-item accordion-menu-item">
          <h2 class="accordion-header" id="dessert">
            <button class="accordion-button accordion-menu-button collapsed accordian-menu-title p-3" type="button" data-bs-toggle="collapse"
              data-bs-target="#dessert-content" aria-expanded="false" aria-controls="dessert-content">
              <span class="w-100 text-center">Desserts</span>
            </button>
          </h2>
          <div id="dessert-content" class="accordion-collapse collapse" aria-labelledby="dessert"
            data-bs-parent="#menuaccordian">
            <div class="accordion-body accordion-menu-body bg-dark text-light">
              {% for item in menu %} {% if item.category == "Dessert" %}
              <p class="menu-item-name"><b>{{item.name}}</b></p>
              <p><i> {{item.description}}... <b>£{{item.price}}</b></i></p>
              {% endif %} {% endfor %}
            </div>
          </div>
        </div>

        <div class="accordion-item accordion-menu-item">
          <h2 class="accordion-header" id="drink">
            <button class="accordion-button accordion-menu-button collapsed accordian-menu-title p-3" type="button" data-bs-toggle="collapse"
              data-bs-target="#drink-content" aria-expanded="false" aria-controls="drink-content">
              <span class="w-100 text-center">Drinks</span>
            </button>
          </h2>
          <div id="drink-content" class="accordion-collapse collapse" aria-labelledby="drink"
            data-bs-parent="#menuaccordian">
            <div class="accordion-body accordion-menu-body menu-last-item bg-dark text-light">
              {% for item in menu %} {% if item.category == "Drink" %}
              <p class="menu-item-name"><b>{{item.name}}</b></p>
              <p><i> {{item.description}}... <b>£{{item.price}}</b></i></p>
              {% endif %} {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <p id="allergy-info">
      <b>Please note:</b> all our dishes may contain traces of nuts, dairy and
      gluten. Please tell the team if you have allergen or special dietary
      requirements. We’re here to help.
    </p>
  </div>
</div>


{% endblock %}