{% load static %}
{% url 'home' as home_url %}
{% url 'menu' as menu_url %}
{% url 'create_booking' as booking_url %}
{% url 'about' as about_url %}
{% url 'admin:index' as admin_url %}

{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}


<!DOCTYPE html>
<html lang="en">

<head>
  <!--Meta tags-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Sultans Ottoman inspired restaurant, tradition infused with authentic. ">
  <meta name="keywords" content="love food, relaxing, socialising, indian food, eating">
  <title>Sultans |</title>

  <!--fav Icons-->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">

  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <!-- Header-->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark text-light">
      <button class="navbar-toggler text-align:center" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbartoggle" aria-controls="navbartoggle" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbartoggle">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if request.path == home_url %}active" aria-current="page{% endif %}" 
            href="{% url 'home' %}">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == menu_url %}active" aria-current="page{% endif %}"
              href="{% url 'menu' %}">menu</a>
            </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == booking_url %}active" aria-current="page{% endif %}" 
            href="{% url 'create_booking' %}">book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == about_url %}active" aria-current="page{% endif %}" 
            href="{% url 'about' %}">about us</a>
          </li>
          {% if user.is_staff %}
          <li class="nav-item">
            <a class="nav-link {% if request.path == admin_url %}active" aria-current="page{% endif %}"
              href="{% url 'admin:index' %}">Admin</a>
          </li>
          {% endif %}
          {% if user.is_authenticated %}
          
          <li class="nav-item">
            <a class="nav-link {% if request.path == logout_url %}active" aria-current="page{% endif %}"
              href="{% url 'account_logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link {% if request.path == signup_url %}active" aria-current="page{% endif %}"
              href="{% url 'account_signup' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == login_url %}active" aria-current="page{% endif %}"
              href="{% url 'account_login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <!--main body-->
  <main>
    
    <!-- authentication messages-->
    {% if user.is_authenticated %}
    <p class="text-center m-3">welcome {{ user }}</p>
    {% else %}
    <p class="text-center m-3">You are not logged in</p>
    {% endif %}

    <!--Django alert messages-->
    <div id="django_messages-container" class=" container-fluid">
      <div class=" text-center">
        <div class="col-sm-12 offset-sm-2 col-md-8 offset-md-4 col-lg-8 offset-lg-2">
          {% for message in messages %}
          <div class=" bg-light text-dark alert {{ message.tags }} alert-dismissible
          show" id="msg" role="alert">
            {{ message | safe }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    {% block content %}

    {% endblock content %}

  </main>
  <!--footer-->
  <footer class="footer mt-auto py-1 dark-bg fs-1 text-center ">
    <hr>
    
    <i class="fab fa-facebook-square ms-3"></i>
    <i class="fab fa-twitter-square ms-3"></i>
    <i class="fab fa-instagram-square ms-3"></i>
    <i class="fab fa-youtube-square ms-3"></i>
    </p>
  </footer>
  <!--bootstrap js import-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
  </script>
  {% block extras %}
  {% endblock %}

</body>

</html>