{% extends "base.html" %} {% load static %} {% block content %}{% load crispy_forms_tags %}
<!-- index.html content starts here -->
<div id="booking-bg">
  <div id="booking-container-bg" class="container">
    <h1 class="p-3">Bookings</h1>
    <hr>
    <div class="row justify-content-md-center text-left">

      <div class=" col-sm-4 pe-5 text-left">
        {% if user.is_authenticated %}
        <form method="post" class="text-left">
          {% csrf_token %}
          <h2>create a booking:</h2>
          {{ form | crispy }}
          <button class="btn btn-primary" type="submit">submit</button>
          <button class="btn btn-secondary" type="reset">reset</button>
        </form>

      </div>
      <div class="col-sm-4 ps-5 text-end">
        <h1>{{ booking_count }} booking{{ booking_count|pluralize }}.</h1>
        {% for booking in bookings %}
        <div style="border-bottom: 2px solid white;padding: 10px; ">
          <p>Name: {{ booking.name }}</p>
          <p>on: {{ booking.date }}</p>
          <p>at: {{ booking.time_slot }}pm, for: {{ booking.number_of_people }}</p>
          <button class="btn btn-danger btn-delete-booking" data-booking-id="{{ booking.id}}" data-bs-toggle="modal"
            data-bs-target="#deleteConfirm">Delete</button>
          <button class="btn btn-primary btn-update-booking" data-booking-id="{{ booking.id}}">Update</button>
        </div>
        {% endfor %}
        {% else %}
        <p class="text-end m-3 text-center">
          Please login to create or manage bookings.
        </p>
        {% endif %}
      </div>
    </div>
  </div>

</div>

<!-- Modals-->

<div class="modal text-dark" id="deleteConfirm" tabindex="-1" aria-labelledby="deleteConfirmLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmLabel">Delete confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this booking?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button id="deleteConfirmation" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>



{% endblock %}

{% block extras %}
<script src="{% static 'js/bookings.js' %}"></script>
{% endblock %}